.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.emoji-section {
  width: 100%;
  height: 34em;
  background-color: rgb(233, 243, 255);
  padding: 5em 0;
  position: relative;
}

.emoji {
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 10em;
  box-shadow: rgb(215, 216, 226) 0px 2px 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  position: 'absolute';
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 3em;
  text-align: center;
}

.foo {
  width: 100px;
  height: 100px;
  background: red;
}